/*----------------------fonts---------------------*/

@font-face {
  font-family: "CoreSansG-Light";
  src: url("assets/fonts/core-sans/CoreSansG-Light.ttf");
}


/*----------------------END fonts---------------------*/


/*------------------home page css---------------*/


/*search*/

#custom-search-input {
  margin: 0;
  margin-top: 10px;
  padding: 0;
}

#custom-search-input .search-query {
  padding-right: 3px;
  padding-right: 4px \9;
  padding-left: 3px;
  padding-left: 4px \9;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

#custom-search-input button {
  border: 0;
  background: none;
  /** belows styles are working good */
  padding: 2px 5px;
  margin-top: 2px;
  position: relative;
  left: -28px;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #D9230F;
}

.search-query:focus+button {
  z-index: 3;
}


/*search*/


/*header*/

.header-contact-details i {
  font-size: 28px;
  color: #f8981d;
}

.header-contact-details li {
  padding: 15px 10px;
  font-family: 'CoreSansG-Light';
}

.header-contact-details span {
  font-family: 'CoreSansG-Light';
}

.header-contact-details-des {
  padding-left: 5px;
  padding-right: 0px;
}

.header-contact-details-icon {}


/*header*/


/*navigation*/

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  float: left;
  position: relative;
}

nav ul li a,
nav ul li a:visited {
  display: block;
  padding: 0 20px;
  line-height: 50px;
  background: #f8981d;
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
}

nav ul li a:hover,
nav ul li a:visited:hover {
  background: #2581DC;
  color: #ffffff;
}

nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: ' ▾';
}

nav ul li ul li {
  min-width: 190px;
}

nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}


/* Mobile navigation */

.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #262626;
  height: 70px;
  width: 70px;
}

@media only screen and (max-width: 798px) {
  .nav-mobile {
    display: block;
  }
  nav {
    width: 100%;
    padding: 70px 0 15px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }
  nav ul li ul li a {
    padding-left: 30px;
  }
  .nav-dropdown {
    position: static;
  }
}

@media screen and (min-width: 799px) {
  .nav-list {
    display: block !important;
  }
}

#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #ffffff;
  position: absolute;
  display: block;
  content: '';
  transition: all 300ms ease-in-out;
}

#nav-toggle span:before {
  top: -10px;
}

#nav-toggle span:after {
  bottom: -10px;
}

#nav-toggle.active span {
  background-color: transparent;
}

#nav-toggle.active span:before,
#nav-toggle.active span:after {
  top: 0;
}

#nav-toggle.active span:before {
  transform: rotate(45deg);
}

#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

article {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.main-nav {
  background: #666;
}

.round-edge::after {
  padding: 10px;
}


/*navigation*/


/*------------------END home page css---------------*/

.clear-fix {
  clear: both;
}


/* header---css */

.header {
  padding: 6em;
  color: rgb(255, 255, 255);
  background-color: rgb(223, 77, 77);
  clear: left;
  text-align: center;
}


/* header---css */

.list-group {
  position: relative;
  display: block;
  padding: 16px 26px;
  margin-bottom: 1px;
  background-color: #ececec;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 17px;
  font-weight: 400;
}

.mar-50 {
  margin-top: 50px;
}

.sub-active {
  background-color: #fea502;
  color: #fff;
}

a:hover,
a:focus {
  text-decoration: none;
}

.list-ul {
  padding: 0px;
}

.qap-section ::before {
  content: '';
  position: absolute;
  width: 28%;
  height: 3px;
  background: #fea502;
  bottom: 0px;
}

.indro-discription {
  text-align: justify;
  text-justify: inter-word;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.mar-80 {
  margin-top: 180px;
}

.footer-sec {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #3e3e3e;
  color: #fff;
}

.footer-para {
  text-align: justify;
  text-justify: inter-word;
  color: #c7c6c6;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: inherit;
  font-size: 15px;
}


/*=========================
  Icons
 ================= */


/* footer social icons */

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}


/* footer social icons */

.social-network a.icoRss:hover {
  background-color: #F56505;
}


/* .icoRss{
  background-color: #D3D3D3;   
} */

.social-network a.icoFacebook:hover {
  background-color: #3B5998;
}

.social-network a.icoTwitter:hover {
  background-color: #33ccff;
}

.social-network a.icoGoogle:hover {
  background-color: #BD3518;
}

.social-network a.icoVimeo:hover {
  background-color: #0590B8;
}

.social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}

.social-network a.icoRss:hover i,
.social-network a.icoFacebook:hover i,
.social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i,
.social-network a.icoVimeo:hover i,
.social-network a.icoLinkedin:hover i {
  color: #fff;
}

a.socialIcon:hover,
.socialHoverClass {
  color: #44BCDD;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 50px;
  height: 50px;
  font-size: 20px;
}

.social-circle li i {
  margin: 0;
  line-height: 50px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #fff;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.form-control {
  border-radius: 0px;
  width: 10%;
  height: 50px;
}

.footer-list {
  position: relative;
  display: block;
  padding-left: 5px;
  line-height: 1.9em;
  text-align: justify;
  text-justify: inter-word;
  color: #c7c6c6;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: inherit;
  font-size: 15px;
}

.main-headers {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 36px;
}

.footer-bottom {
  background-color: #6f6f6f;
  color: #fff;
  font-family: 'Work Sans', sans-serif;
}

.ceo-img {
  width: 240px;
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.ceo-img:hover {
  width: 240px;
  -webkit-filter: grayscale(0%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}

.sign-img {
  width: 108px;
}

.btn-searcht {
  height: 50px;
  background-color: #fea502;
}

.btn-ceo {
  width: 165px;
  border: none;
  color: white;
  padding: 11px 28px;
  font-size: 16px;
  cursor: pointer;
  background-color: #fea502;
}

.sub-header-2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 22px;
}

pro-ico {}

.sss {
  background-color: orange
}

.header-3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  margin-top: -13px;
  font-size: 40px;
  color: #6f6f6f;
  text-align: center;
}

.header-4 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  margin-top: 0px;
  font-size: 50px;
  color: rgb(61, 61, 61);
}

.title-bar {
  position: absolute;
  /* top: 61px; */
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 209px;
  height: 2px;
  background-color: #fea502;
  /* float: left; */
}

.dir-text {
  /* color:orange; */
  text-align: center;
}

.ceo-img-dir {
  width: 150px;
  /* -webkit-filter: grayscale(100%); */
  filter: grayscale(100%);
  margin: 0 auto;
  display: block;
}

.ceo-img-dir:hover {
  width: 150px;
  /* -webkit-filter: grayscale(100%); */
  filter: grayscale(0%);
}

.pro-name {
  color: #fea502;
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
}

.loc-img-dir {
  width: 274px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  margin: 0 auto;
  display: block;
  
}
.loc-img-dir:hover {
  width: 274px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(0%);
  margin: 0 auto;
  display: block;
}
.hover-style{
  position: relative;
  width: 50%;

}

.hover-style:hover .overlay
{
   
    height: 20%;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}
.loc-name
{
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}