/*----------------------fonts---------------------*/
@font-face {
  font-family: "CoreSansG-Light";
  src: url("../fonts/core-sans/CoreSansG-Light.ttf");
}
/*----------------------END fonts---------------------*/

body{
	font-family: 'Titillium Web', sans-serif !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff !important;
	font-family: 'Titillium Web', sans-serif !important;
	font-weight:600;
}
.navbar-brand {
    display: inline-block;
    padding-top: 1.3125rem;
    padding-bottom: 2.3125rem;
    margin-right: 27px;
    font-size: 2.25rem;
    line-height: inherit;
    margin-left: -91px;
    white-space: nowrap;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
}
.navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    background: #21131370;
    list-style: none;
}

.side-btn-list{
    margin-top: 579px;
    z-index: 10;
    position: absolute;
    left: 0px;
    width: 20%;
}

.side-btn-list ul {
    padding: 0;
    list-style: none;
}
.side-btn {
    text-align: left !important;
    background: #ef8900;
    width: 100%;
    border-radius: 0px !important;
    font-size: 21px !important;
    color: #fff;
    font-weight: 600 !important;
    margin-bottom: 12px;
    padding-top: 0px !important;
    padding-bottom: 5px !important;
}
.side-i {
    font-size: 24px;
    margin-right: 10px;
    margin-left: 8px;
}